<section class="hero">
  <div class="hero--details">
    <h1>{{ .Title }} Series</h1>
    <p class="light">Meet our Classic Series, built with quality and style in mind, yet more affordable.</p>
  </div>
  <div class="hero--img">
    <picture>
      <source srcset="/images/storage-building.webp" media="(min-width: 600px)">
        <img class="" src="/images/storage-building-m.webp" alt="storage buildings" height=“600” width=“600” loading=“lazy” decoding=“async” class="hero--img">
    </picture>
  </div>
</section>

<section>
    <h2>{{ .Title }} Series Buildings</h2>
      {{ range .Data.Pages }}
        <div class="series--item">
          <h3>{{.Title }}</h3>
          {{ partial "picture.html" . }}
          <a class="main--btn" href="{{ .Permalink }}">LEARN MORE</a>
        </div>
      {{ end }}
</section>
