{{ define "main" }}
<section class="hero">
  <div class="hero--details">
    <h1>Portable Storage Buildings</h1>
    <p class="light">Choose your perfect building from our dozens of styles and variations of portable storage sheds. Or if you want something custom, let us build a building just for you.</p>
    <div class="hero--links">
      <a href="#styles">STYLES</a>
      <a href="#">FEATURES & OPTIONS</a>
      <a href="#">GALLERY</a>
    </div>
  </div>
  <div class="hero--img">
    <picture>
      <source srcset="/images/storage-building.webp" media="(min-width: 600px)">
        <img class="" src="/images/storage-building-m.webp" alt="storage buildings" height=“600” width=“600” loading=“lazy” decoding=“async” class="hero--img">
    </picture>
  </div>
</section>

<section>
  <div class="products--item">
    <picture>
      <source srcset="/images/chateau.webp" media="(min-width: 600px)">
        <img class="" src="/images/chateau-m.webp" alt="chateau series of buildings" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
    </picture>
    <h2>Chateau Series</h2>
    <p>15 Year Warranty, Lap siding options, Trim design to complement your home, Ridge ventilation standard</p>
    <a href="#" class="main--btn">LEARN MORE</a>
  </div>
  <div class="products--item">
    <picture>
      <source srcset="/images/classic.webp" media="(min-width: 600px)">
        <img class="" src="/images/classic-m.webp" alt="classic series of buildings" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
    </picture>
    <h2>Classic Series</h2>
    <p>10 Year Warranty, Choose your door style, color, and roofing, Multiple add on options to choose from, Ridge ventilation standard</p>
    <a href="#" class="main--btn">LEARN MORE</a>
  </div>
  <div class="products--item">
    <picture>
      <source srcset="/images/dutch-country.webp" media="(min-width: 600px)">
        <img class="" src="/images/dutch-country-m.webp" alt="dutch country series of buildings" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
    </picture>
    <h2>Dutch Country Series</h2>
    <p>Same great craftsmanship and quality, Built to be affordable, Durable enough to stand the test of time.</p>
    <a href="#" class="main--btn">LEARN MORE</a>
  </div>
</section>




   {{range .Site.RegularPages}}
     <div class="">
       <h2>{{.Title}}</h2>
       <a href="{{.Permalink}}">{{.Title}}</a>
     </div>


  {{end}}
{{ end }}
