{{ define "main" }}
<section class="hero">
  <div class="hero--details">
    <h1>Portable Storage Buildings</h1>
    <p class="light">Choose your perfect building from our dozens of styles and variations of portable storage sheds. Or if you want something custom, let us build a building just for you.</p>
    <div class="hero--links">
      <a href="#styles">STYLES</a>
      <a href="#">FEATURES & OPTIONS</a>
      <a href="#">GALLERY</a>
    </div>
  </div>
  <div class="hero--img">
    <picture>
      <source srcset="/images/storage-building.webp" media="(min-width: 600px)">
        <img class="" src="/images/storage-building-m.webp" alt="storage buildings" height=“600” width=“600” loading=“lazy” decoding=“async” class="hero--img">
    </picture>
  </div>
</section>

<section>
  <div class="products--item">
    <picture>
      <source srcset="/images/chateau.webp" media="(min-width: 600px)">
        <img class="" src="/images/chateau-m.webp" alt="chateau series of buildings" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
    </picture>
    <h2>Chateau Series</h2>
    <p>15 Year Warranty, Lap siding options, Trim design to complement your home, Ridge ventilation standard</p>
    <a href="/categories/chateau" class="main--btn">LEARN MORE</a>
  </div>
  <div class="products--item">
    <picture>
      <source srcset="/images/classic.webp" media="(min-width: 600px)">
        <img class="" src="/images/classic-m.webp" alt="classic series of buildings" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
    </picture>
    <h2>Classic Series</h2>
    <p>10 Year Warranty, Choose your door style, color, and roofing, Multiple add on options to choose from, Ridge ventilation standard</p>
    <a href="/categories/classic" class="main--btn">LEARN MORE</a>
  </div>
  <div class="products--item">
    <picture>
      <source srcset="/images/dutch-country.webp" media="(min-width: 600px)">
        <img class="" src="/images/dutch-country-m.webp" alt="dutch country series of buildings" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
    </picture>
    <h2>Dutch Country Series</h2>
    <p>Same great craftsmanship and quality, Built to be affordable, Durable enough to stand the test of time.</p>
    <a href="/categories/dutch-country" class="main--btn">LEARN MORE</a>
  </div>
</section>

<section>
  <h2>Features and Options</h2>
  <div class="feat-opt">
    <div class="feat-opt--item">
      <picture>
        <source srcset="/images/skids.webp" media="(min-width: 600px)">
          <img class="" src="/images/skids-m.webp" alt="4x6 treated skids" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
      </picture>
      <h3>Built on 4x6 Pressure Treated Skids</h3>
      <p>Creating the strongest subfloors in the industry with 16" centers on our floor joists!</p>
    </div>
    <div class="feat-opt--item">
      <picture>
        <source srcset="/images/tg.webp" media="(min-width: 600px)">
          <img class="" src="/images/tg-m.webp" alt="tongue and groove flooring" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
      </picture>
      <h3>Tongue and Groove</h3>
      <p>Built with tongue and groove flooring for award-winning performance you can rely on. Specifically engineered to industry-leading strength, superior moisture resistance and installation ease.</p>
    </div>
    <div class="feat-opt--item">
      <picture>
        <source srcset="/images/siding.webp" media="(min-width: 600px)">
          <img class="" src="/images/siding-m.webp" alt="LP smartside siding" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
      </picture>
      <h3>LP SmartSide Siding</h3>
      <p>SP SmartSide Siding allows you to combine style and advanced durability so that your building will maintain its integrity and beauty over time. </p>
    </div>
    <div class="feat-opt--item">
      <picture>
        <source srcset="/images/joist.webp" media="(min-width: 600px)">
          <img class="" src="/images/joist-m.webp" alt="most floor joists" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
      </picture>
      <h3>Floor Joists</h3>
      <p>We use the most 2x4s in the portable building industry for the strongest sub-floor system.</p>
    </div>
    <div class="feat-opt--item">
      <picture>
        <source srcset="/images/studs.webp" media="(min-width: 600px)">
          <img class="" src="/images/studs-m.webp" alt="studs and rafters" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
      </picture>
      <h3>Studs and Rafters</h3>
      <p>Always 16" on center even with a metal roof. Top quality grade lumber, rafter joints are double gussetted.</p>
    </div>
    <div class="feat-opt--item">
      <picture>
        <source srcset="/images/sub-roof.webp" media="(min-width: 600px)">
          <img class="" src="/images/sub-roof-m.webp" alt="roof cutaway" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
      </picture>
      <h3>Sub-Roof Material</h3>
      <p>The roof is always built with sheeting no matter what style of roof you choose.</p>
    </div>
    <div class="feat-opt--item">
      <picture>
        <source srcset="/images/roof.webp" media="(min-width: 600px)">
          <img class="" src="/images/roof-m.webp" alt="roof-options" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
      </picture>
      <h3>Roof</h3>
      <p>Name brand 35 year dimensional shingles, or 40 year metal roofing, all available in different colors of your choice.</p>
    </div>
    <div class="feat-opt--item">
      <picture>
        <source srcset="/images/trim.webp" media="(min-width: 600px)">
          <img class="" src="/images/trim-m.webp" alt="trim cutaway" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
      </picture>
      <h3>MiraTec Trim</h3>
      <p>Top-performing MiraTec trim to get a look that lasts.</p>
    </div>
    <div class="feat-opt--item">
      <picture>
        <source srcset="/images/window.webp" media="(min-width: 600px)">
          <img class="" src="/images/window-m.webp" alt="window" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
      </picture>
      <h3>Windows w/ Screens and Shutters</h3>
      <p>Aluminum windows come standard in all storage buildings. Vinyl insulated windows come standard in all cabins. Many sizes and options available.</p>
    </div>
  </div>
</section>

<section>
  <picture>
    <source srcset="/images/feat-main.webp" media="(min-width: 600px)">
      <img class="" src="/images/feat-main-m.webp" alt="features hero image" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
  </picture>
  <div class="">
    <div class="">
      <h2>Delivery to Prepared Site</h2>
      <p>A rock gravel pad is recommended (approximately 4 inches thick and slightly bigger than the buildings square footage). Ask us about getting custom piers set for a solid foundation for your building.</p>
    </div>
    <div class="">
      <h2>Features and Customization</h2>
      <p>Build a building just how you like it with our dozens of flexible custom building options. Whichever option you choose, it will be the most durable and quality building available.</p>
      <p>Included on many is an operational locking loft door, double gussetted joints, and quality materials, features designed to improve and guarantee strength and durability. </p>
    </div>
    <div class="">
      <h2>And More...</h2>
      <p>Features like a threshold protector are included at no extra charge. You can rely on our attention to details to get you a quality building that will last for years.</p>
    </div>
  </div>
</section>

{{ end }}
