{{ define "main" }}
  <section class="product-hero">
   {{ partial "picture.html" . }}
    <div class="">
      <h1>{{.Title}}</h1>
      <p>{{ .Params.description }}</p>
      <a href="#" class="prod-btn">REQUEST A QUOTE</a>
    </div>
  </section>
  <section>
    <h2>Standard Features</h2>
    <div class="features">
      {{range .Params.standardFeatures}}
         <p>{{ . }}</p>
      {{end}}
    </div>
  </section>
  <section>
    {{ with .Params.specifications }}
    <h2>Specifications</h2>
    <div class="features">
      {{range . }}
         <p>{{ . }}</p>
      {{end}}
    </div>
  </section>
  {{ end}}
  <section>
    {{ $related := .Site.RegularPages.Related . | first 4 }}
{{ with $related }}
<h2 class="line-before">Related Products</h2>
{{ range . }}
  <div class="series--item">
    <h3>{{.Title }}</h3>
      {{ partial "picture.html" . }}
    <a class="main--btn" href="{{ .Permalink }}">LEARN MORE</a>
  </div>
{{ end }}
{{ end }}
  </section>
{{ end }}
