{{ define "main" }}
<section class="hero">
  <div class="hero--details">
    <h1>PlayMor Playsets</h1>
    <p class="light">These fantastic PlayMor Playsets are perfect for any backyard, city park, or church playground! We have lots of different options available and can get more on request to meet your needs. Get your kids outside and exercising with these fun, high-quality playsets!</p>
    <div class="hero--links">
      <a href="#styles">STYLES</a>
    </div>
  </div>
  <div class="hero--img">
    <picture>
      <source srcset="/images/playset-img.webp" media="(min-width: 600px)">
        <img class="" src="/images/playset-img-m.webp" alt="playsets" height=“600” width=“600” loading=“lazy” decoding=“async” class="hero--img">
    </picture>
  </div>
</section>



<section id="styles">

      {{ range .Data.Pages }}
        <div class="series--item">
          <h3>{{.Title }}</h3>
            {{ partial "picture.html" . }}
          <a class="main--btn" href="{{ .Permalink }}">LEARN MORE</a>
        </div>
      {{ end }}
</section>





{{ end }}
