{{ define "main" }}
  <section class="product-hero">
   {{ partial "picture.html" . }}
    <h1>{{.Title}}</h1>
    <p>{{ .Params.description }}</p>
    <a href="#" class="prod-btn">REQUEST A QUOTE</a>
  </section>
  <section>
    <h2>Standard Features</h2>
    <div class="features">
      {{range .Params.standardFeatures}}
         <p>{{ . }}</p>
      {{end}}
    </div>
  </section>
  <section>
    {{ with .Params.specifications }}
    <h2>Specifications</h2>
    <div class="features">
      {{range . }}
         <p>{{ . }}</p>
      {{end}}
    </div>
  </section>
  {{ end}}
{{ end }}
