{{ define "main" }}
  <section class="product-hero">
   {{ partial "picture.html" . }}
    <div class="">
      <h1>{{.Title}}</h1>
      <p>{{ .Params.description }}</p>
      <a href="#" class="prod-btn">REQUEST A QUOTE</a>
    </div>
  </section>
  <section class="options-features">
    <div class="">
      <h2>Standard Features</h2>
      <div class="features">
        {{range .Params.standardFeatures}}
           <p>{{ . }}</p>
        {{end}}
      </div>
    </div>
    <div class="">
      {{ with .Params.specifications }}
      <h2>Specifications</h2>
      <div class="features">
        {{range . }}
           <p>{{ . }}</p>
        {{end}}
      </div>
    </div>
  </section>
  {{ end}}
  <section>
    {{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
<h2 class="line-before">Related Products</h2>
   <div class="related">
     {{ range . }}
       <div class="series--item">

           {{ partial "picture.html" . }}
           <h3>{{.Title }}</h3>
         <a class="main--btn" href="{{ .Permalink }}">LEARN MORE</a>
       </div>
     {{ end }}
   </div>
{{ end }}
  </section>

  <section class="product-contact" id="quote">
    <div class="form-parent">
      <div class="pipedriveWebForms" data-pd-webforms="https://webforms.pipedrive.com/f/ccLyZpZUctMfHg1mCLognJ7stcdRAqGXi6jX74I0UG8ZuAfB6gIeQS62iD5lWv0Wxt"><script src="https://webforms.pipedrive.com/f/loader"></script></div>
    <!--  <h2>Request a Quote on This Product</h2>
      <form class="contact-us-form" action="/thanks" name="{{ .Title }}" method="post" netlify>
        <div class="form-input">
          <label for="Name" id="name">Name</label>
          <input type="text" class="input" data-placeholder="Name" name="Name" value="" required/>
        </div>
        <div class="form-input">
          <label for="Email">Email</label>
          <input type="email" class="input" data-placeholder="Email" name="Email" value="" required/>
        </div>
        <div class="form-input">
          <label for="Phone">Phone</label>
          <input type="phone" class="input" data-placeholder="Phone"  name="Phone" value="" required/>
        </div>
        <div class="form-input message">
          <label for="Message">Options and Notes</label>
          <textarea name="Message" class="input" data-placeholder="Options and Notes" rows="1" cols="80"></textarea>
        </div>
        <span class="prod-btn"><input type="submit" name="submit" value="REQUEST A QUOTE"/></span>
      </form>-->
    </div>
  </section>
{{ end }}
