{{ define "main" }}
  <section class="product-hero">
    
   <p class="status" id="status">{{.Params.status}}</p>
   {{ partial "picture.html" . }}
      <div>
        <h1>{{.Title}}</h1>
      <p>{{ .Params.description }}</p>
      <div class="flex">
        <p>Price: <br> <span class="price">$ <span id="price">{{ .Params.price}}</span></span></p>
        <p>Book Value: <br> <span class="price">$</span> <span class="price" id="msrp">{{.Params.msrp}}</span></p>
        <p>You Save: <br> <span class="price">$</span> <span class="price" id="save"></span></p>
      </div>
      <a href="#quote" class="prod-btn">REQUEST MORE INFO</a>
      <div class="carzing-widget"

      data-carmojo-theme="modern-medium"

      data-carmojo-price="{{ .Params.price }}"

      data-carmojo-vin="{{.Params.vin}}"

      data-carmojo-primary-image-url="{{.Params.featuredImg}}">

    </div>
      
    </div>
  </section>
  <section class="options-features">
    <div class="">
      <h2 class="line-before">Vehicle Features</h2>
      <div class="features">
        {{range .Params.features}}
           <p>{{ . }}</p>
        {{end}}
      </div>
    </div>
    <div class="">
      
      <h2 class="line-before">Vehicle Information</h2>
      <div class="features">
        <p>VIN: {{ .Params.vin }}</p>
        <p>Mileage: {{ .Params.mileage }}</p>
        {{ with .Params.keyPoints }}
        {{range . }}
           <p>{{ . }}</p>
        {{end}}
      </div>
      {{ end}}
    </div>
  </section>
  <script>
    let price = Number(document.getElementById('price').innerHTML);
    let msrp = Number(document.getElementById('msrp').innerHTML);
    let save = document.getElementById("save");
    save.innerHTML = msrp - price;
    
    let status = document.getElementById("status")
    if(status.innerHTML == "Available"){
      status.style.display = "none";
    }


  </script>


 <section class="gallery-section">
   <h2>More Images</h2>

   {{ partial "product-gallery.html" . }}
 </section>


  <section>
    {{ $related := .Site.RegularPages.Related . | first 3 }}
      {{ with $related }}
         <h2 class="line-before">Related Products</h2>
         <div class="related">
           {{ range . }}
             <div class="series--item">

             {{ partial "picture.html" . (dict "height" "420" "width" "480")  }}
             <h3>{{.Title }}</h3>
             <a class="main--btn" href="{{ .Permalink }}">LEARN MORE</a>
             </div>
           {{ end }}
         </div>
    {{ end }}
  </section>

  <section class="product-contact" id="quote">
    <div class="form-parent">
  
    <h2>Request More Info on This Vehicle</h2>
      <form class="contact-us-form" action="/thanks" name="{{ .Title }}" method="post" netlify>
        <div class="form-input">
          <label for="Name" id="name">Name</label>
          <input type="text" class="input" data-placeholder="Name" name="Name" value="" required/>
        </div>
        <div class="form-input">
          <label for="Email">Email</label>
          <input type="email" class="input" data-placeholder="Email" name="Email" value="" required/>
        </div>
        <div class="form-input">
          <label for="Phone">Phone</label>
          <input type="phone" class="input" data-placeholder="Phone"  name="Phone" value="" required/>
        </div>
        <div class="form-input message">
          <label for="Message">Notes</label>
          <textarea name="Message" class="input" data-placeholder="Notes" rows="1" cols="80"></textarea>
        </div>
        <span class="prod-btn"><input type="submit" name="submit" value="REQUEST MORE INFO"/></span>
      </form>
    </div>
  </section>
  <div id="cz-dealdriver-settings" data-type="widget" data-primary-color="#333333" data-secondary-color="#D45A56"></div>

  <script src=https://dealdriver.carzing.com/api/dealerwebsite/integration/3a22263f8c374618f2b91fe9fb5d155e0e7d7e74e6b50b1694ede956a456e9a0></script>
{{ end }}
