

{{ define "main" }}

{{if eq .Data.Term "trucks"}}
<section class="hero-tertiary ">
  <div class="hero--details cat">
    <h1>{{ .Title }} For Sale</h1>
    <p class="light">Browse our inventory of clean and rebuilt title trucks. </p>
    <a href="#b-list" class="scroll-btn"><img src="/images/scroll.svg"  alt="scroll down"></a>
  </div>
  <div class="hero--img">
    <picture>
      <source srcset="/images/trucks.webp" media="(min-width: 600px)">
        <img class="" src="/images/trucks-m.webp" alt="storage buildings" height=“600” width=“600” loading=“lazy” decoding=“async” class="hero--img">
    </picture>
  </div>
</section>



<section id='b-list'>
    <h2 class="line-before">{{ .Title }} For Sale</h2>
      <div class="building-list">
        {{ range .Data.Pages }}
          <div class="series--item">
            {{ partial "picture.html" . }}
            <h3>{{.Title }}</h3>
            <a class="main--btn" href="{{ .Permalink }}">LEARN MORE</a>
          </div>
        {{ end }}
      </div>
</section>

{{ end }}

{{if eq .Data.Term "SUVs"}}
<section class="hero-tertiary">
  <div class="hero--details cat">
    <h1>{{ .Title }} For Sale</h1>
    <p class="light">Take the whole family along on any adventure with our affordable Sport Utility Vehicles.</p>
    <a href="#b-list" class="scroll-btn"><img src="/images/scroll.svg"  alt="scroll down"></a>
  </div>
  <div class="hero--img">
    <picture>
      <source srcset="/images/suv.webp" media="(min-width: 600px)">
        <img class="" src="/images/suv-m.webp" alt="suvs for sale" height=“600” width=“600” loading=“lazy” decoding=“async” class="hero--img">
    </picture>
  </div>
</section>

<section id='b-list'>
    <h2 class="line-before">{{ .Title }} For Sale</h2>
      <div class="building-list">
        {{ range .Data.Pages }}
          <div class="series--item">
            {{ partial "picture.html" . }}
            <h3>{{.Title }}</h3>
            <a class="main--btn" href="{{ .Permalink }}">LEARN MORE</a>
          </div>
        {{ end }}
      </div>
</section>

{{ end }}

{{if eq .Data.Term "cars"}}
<section class="hero-tertiary">
  <div class="hero--details cat">
    <h1>{{ .Title }} For Sale</h1>
    <p class="light">Get an affordable ride with one of our cars. Great on fuel and economical on maintenance.</p>
    <a href="#b-list" class="scroll-btn"><img src="/images/scroll.svg"  alt="scroll down"></a>
  </div>
  <div class="hero--img">
    <picture>
      <source srcset="/images/car.webp" media="(min-width: 600px)">
        <img class="" src="/images/car-m.webp" alt="storage buildings" height=“600” width=“600” loading=“lazy” decoding=“async” class="hero--img">
    </picture>
  </div>
</section>


<section id='b-list'>
    <h2 class="line-before">{{ .Title }} For Sale</h2>
      <div class="building-list">
        {{ range .Data.Pages }}
          <div class="series--item">
            {{ partial "picture.html" . }}
            <h3>{{.Title }}</h3>
            <a class="main--btn" href="{{ .Permalink }}">LEARN MORE</a>
          </div>
        {{ end }}
      </div>
</section>

{{ end }}



{{ end }}
