

{{ define "main" }}

{{if eq .Data.Term "Chateau"}}
<section class="hero-secondary">
  <div class="hero--details cat">
    <h1>{{ .Title }} Series</h1>
    <p class="light">Treat yourself to the premier line of storage sheds, available in several configurations to meet your needs.</p>
    <a href="#b-list" class="scroll-btn"><img src="/images/scroll.svg"  alt="scroll down"></a>
  </div>
  <div class="hero--img">
    <picture>
      <source srcset="/images/chateau-ultra.webp" media="(min-width: 600px)">
        <img class="" src="/images/chateau-ultra-m.webp" alt="storage buildings" height=“600” width=“600” loading=“lazy” decoding=“async” class="hero--img">
    </picture>
  </div>
</section>

<section class="category-features">
  <h2>Features</h2>
  <div class="">
    <div class="category-features--item">
      <img src="/images/trim.svg" alt="trim design">
      <p>Trim design to complement your home.</p>
    </div><div class="category-features--item">
      <img src="/images/ridge-vent.svg" alt="ridge ventilation">
      <p>Ridge Ventilation Standard.</p>
    </div>
    <div class="category-features--item">
      <img src="/images/15-year.svg" alt="15 year warranty">
      <p>15 Year Warranty</p>
    </div><div class="category-features--item">
      <img src="/images/siding.svg" alt="lap siding">
      <p>Lap Siding Options</p>
    </div>
  </div>
</section>

<section id='b-list'>
    <h2 class="line-before">{{ .Title }} Series Buildings</h2>
      <div class="building-list">
        {{ range .Data.Pages }}
          <div class="series--item">
            {{ partial "picture.html" . }}
            <h3>{{.Title }}</h3>
            <a class="main--btn" href="{{ .Permalink }}">LEARN MORE</a>
          </div>
        {{ end }}
      </div>
</section>

{{ end }}

{{if eq .Data.Term "Classic"}}
<section class="hero-secondary">
  <div class="hero--details cat">
    <h1>{{ .Title }} Series</h1>
    <p class="light">Meet our Classic Series, built with quality and style in mind, yet more affordable.</p>
    <a href="#b-list" class="scroll-btn"><img src="/images/scroll.svg"  alt="scroll down"></a>
  </div>
  <div class="hero--img">
    <picture>
      <source srcset="/images/storage-building.webp" media="(min-width: 600px)">
        <img class="" src="/images/storage-building-m.webp" alt="storage buildings" height=“600” width=“600” loading=“lazy” decoding=“async” class="hero--img">
    </picture>
  </div>
</section>

<section class="category-features">
  <h2>Features</h2>
  <div class="">
    <div class="category-features--item">
      <img src="/images/trim.svg" alt="trim design">
      <p>Choose your door style, color, and roofing</p>
    </div><div class="category-features--item">
      <img src="/images/ridge-vent.svg" alt="ridge ventilation">
      <p>Ridge Ventilation Standard.</p>
    </div>
    <div class="category-features--item">
      <img src="/images/10.svg" alt="10 year warranty">
      <p>10 Year Warranty</p>
    </div><div class="category-features--item">
      <img src="/images/siding.svg" alt="options">
      <p>Multiple add-on options</p>
    </div>
  </div>
</section>

<section id='b-list'>
    <h2 class="line-before">{{ .Title }} Series Buildings</h2>
      <div class="building-list">
        {{ range .Data.Pages }}
          <div class="series--item">
            {{ partial "picture.html" . }}
            <h3>{{.Title }}</h3>
            <a class="main--btn" href="{{ .Permalink }}">LEARN MORE</a>
          </div>
        {{ end }}
      </div>
</section>

{{ end }}

{{if eq .Data.Term "Dutch Country"}}
<section class="hero-secondary">
  <div class="hero--details cat">
    <h1>{{ .Title }} Series</h1>
    <p class="light">Meet our Dutch Country Series, built with quality at a price you can afford</p>
    <a href="#b-list" class="scroll-btn"><img src="/images/scroll.svg"  alt="scroll down"></a>
  </div>
  <div class="hero--img">
    <picture>
      <source srcset="/images/storage-building.webp" media="(min-width: 600px)">
        <img class="" src="/images/storage-building-m.webp" alt="storage buildings" height=“600” width=“600” loading=“lazy” decoding=“async” class="hero--img">
    </picture>
  </div>
</section>

<section class="category-features">
  <h2>Features</h2>
  <div class="">
    <div class="category-features--item">
      <img src="/images/trim.svg" alt="color options">
      <p>Choose your colors and other options</p>
    </div>
    <div class="category-features--item">
      <img src="/images/siding.svg" alt="options">
      <p>Multiple add-on options</p>
    </div>
    <div class="category-features--item">
      <img src="/images/$.svg" alt="economical quality">
      <p>Economical Quality</p>
    </div>
  </div>
</section>

<section id='b-list'>
    <h2 class="line-before">{{ .Title }} Series Buildings</h2>
      <div class="building-list">
        {{ range .Data.Pages }}
          <div class="series--item">
            {{ partial "picture.html" . }}
            <h3>{{.Title }}</h3>
            <a class="main--btn" href="{{ .Permalink }}">LEARN MORE</a>
          </div>
        {{ end }}
      </div>
</section>

{{ end }}



{{ end }}
