{{ define "main" }}
<section class="hero-secondary">
  <div class="hero--details">
    <h1>Trucks and Cars For Sale</h1>
    <p class="light">Browse our inventory for clean or rebuilt title vehicles to find exactly what you're looking for. Or submit a vehicle finder request to have us do the shopping for you. </p>
    <div class="hero--links">
      <a href="#title">REBUILT VS CLEAN TITLE</a>
      <a href="#vehicle-finder">VEHICLE FINDER</a>
    </div>
  </div>
  <div class="hero--img">
    <picture>
      <source srcset="/images/veh-feat.webp" media="(min-width: 600px)">
        <img class="" src="/images/veh-feat-m.webp" alt="featured vehicle image" height=“600” width=“600” loading=“lazy” decoding=“async” class="hero--img">
    </picture>
  </div>
</section>

<section id="styles">
  <div class="products--item buildings-item">
    <picture>
      <source srcset="/images/trucks.webp" media="(min-width: 600px)">
        <img class="" src="/images/trucks-m.webp" alt="trucks for sale" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
    </picture>
    <div class="">
      <h2>Trucks for Sale</h2>
      <p>Everyone needs a truck. Browse what we have in stock or get us to find the perfect truck for your work or play.</p>
      <a href="/categories/trucks" class="main--btn">SHOP TRUCKS</a>
    </div>
  </div>
  <div class="products--item buildings-item">
    <picture>
      <source srcset="/images/suv.webp" media="(min-width: 600px)">
        <img class="" src="/images/suv-m.webp" alt="suvs for sale" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
    </picture>
    <div class="">
      <h2>SUVs For Sale</h2>
      <p>Big enough for the family, tough enough to be useful. SUV's are the perfect option for someone who needs more than a car and less than a truck.</p>
      <a href="/categories/suvs" class="main--btn">SHOP SUVs</a>
    </div>
  </div>
  <div class="products--item buildings-item">
    <picture>
      <source srcset="/images/car.webp" media="(min-width: 600px)">
        <img class="" src="/images/car-m.webp" alt="cars for sale" height=“600” width=“600” loading=“lazy” decoding=“async” class="">
    </picture>
    <div class="">
      <h2>Cars for Sale</h2>
      <p>Most economical to buy and operate, cars are a great option for someone who needs to get around.</p>
      <a href="/categories/cars" class="main--btn">SHOP CARS</a>
    </div>
  </div>
</section>

<section id="title" class="">
  <h2>Should I Buy a Clean Or Bebuilt Title Vehicle?</h2>
   <div class="title">
    <div>
      <div>
       <h3>Rebuilt Title Vehicles</h3>
       <p>Rebuilt title vehicles can be a good investment. Many times you can save from $5000 to $15000 by buying a rebuilt title vehicle. It's not the best option for everyone though. First of all, do your research on the vehicle you're considering. Ask for damage pictures, and find out what caused the rebuilt title. Look it over and ask the seller to point out what has been done. Finally, rebuilt title vehicles can offer the most savings if you plan on keeping it for a while. </p>
      </div>
    </div>
    <div>
      <div>
        <h3>Clean Title Vehicles</h3>
        <p>Clean title vehicles are usually the safest investment. You'll pay more upfront, but you can be assured that it shouldn't have any more issues than any vehicle. You will want to check the vehicle history report to make sure that there have been no major accidents, even with a clean title. If you want us to research the history on a vehicle you're looking at, just contact us with the VIN, and we will see what we can find.  </p>
      </div>
    </div>
   </div>
</section >


<section id="vehicle-finder">
  <h2>Vehicle Finder</h2>
  

</section>

{{ end }}
