
<footer>
  <hr>
  <div class="">
    <div class="footer-logo">
    	<a href="/" class="logo">
  			<img src="/images/logo.webp" alt="K&K logo">
  		</a>
    </div>
    <hr>
  	<div class="footer-contacts">
    	<h3>Contacts</h3>
  		<a class="address-foo" href="https://g.page/kkstoragebarnsllc?share">310 N Main St. <br>Benton IL 62812</a>
  		<a class="mail" href="mailto:sheds@kkportablebuildings.com">sheds@kkportablebuildings.com</a>
  		<a class="phone" href="tel:8007867111">800-786-7111(Toll Free)</a>
  		<a class="phone" href="tel:6189270533">618-927-0533</a>
    </div>
    <hr>
  	<div class="footer-products">
  		<h3>Products</h3>
  		<a href="#">Portable Storage Buildings</a>
  		<a href="#">Playmor Playsets</a>
  		<a href="#">Hunting Blinds</a>
  		<a href="#">Poly Furniture</a>
  	</div>
    <hr>
  	<div class="footer-company">
  		<h3>Company</h3>
  		<a href="#">Current Inventory</a>
  		<a href="#">Testimonials</a>
  		<a href="#">Photo Gallery</a>
  		<a href="#">About Us</a>
  		<a href="#">Contact Us</a>
  	</div>
    <hr>
  	<div class="footer-partners">
  		<h3>Partners</h3>
  		<a  target="_blank" href="https://www.classicbuildingsales.com/">Classic Buildings</a>
  		<a target="_blank" href="https://justplainbusiness.com/panther-fork-poly-furniture/">Panther Fork Products</a>
  		<a target="_blank" href="https://playmorswingsets.com/">PlayMor Playsets</a>
  	</div>
    <hr>
    <br>
  	<div class="details">
  		<a href="{{ .Site.BaseURL }}">
  			&copy; {{ now.Format "2006" }} KK Portable Buildings | All Rights Reserved
  		</a> <br>
  		<a href="https://www.scriptworks.net">Website by ScriptWorks Web Dev</a>
  	</div>
  </div>
</footer>
<script type="text/javascript" src="/js/index.js">

</script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
