
<footer>
  <hr>
  <div class="">
    <div class="footer-logo">
    	<a href="/" class="logo">
  			<img src="/images/logo.webp" alt="Main street auto logo">
  		</a>
    </div>
    <hr>
  	<div class="footer-contacts">
    	<h3>Contacts</h3>
  		<a class="address-foo" href="https://goo.gl/maps/3cvTAZBTLG7Djpwz6">375 S Main St <br>Strawberry AR 72469</a>
  		<a class="mail" href="mailto:marcus@mainstreetautoar.com">marcus@mainstreetautoar.com</a>
  		<a class="phone" href="tel:8707040162">870-704-0162</a>
    </div>
    <hr>
  	<div class="footer-products">
  		<h3>Products & Services</h3>
  		<a href="/buildings">Cars and Trucks</a>
  		<a href="/playsets">Automotive Services</a>
  		<a href="/hunting-blinds">Auto Accessories</a>
  	</div>
    <hr>
  	<div class="footer-company">
  		<h3>Company</h3>
  		<a href="/inventory">Current Inventory</a>
  		<a href="/#reviews">Testimonials</a>
  		<a href="/about">About Us</a>
  		<a href="/contact">Contact Us</a>
  	</div>
    <hr>
  	<div class="footer-partners">
  		<h3>Partners</h3>
  		<a  target="_blank" href="https://www.ledlightupgrade.com/">LED Light Upgrade</a>
  		<a target="_blank" href="https://napaonline.com">Napa Auto Parts</a>
  	</div>
    <hr>
    <br>

  </div>
  <div class="details">
    <a href="{{ .Site.BaseURL }}">
      &copy; {{ now.Format "2006" }} Main Street Automotive | All Rights Reserved
    </a> <br>
    <a href="https://www.scriptworks.net">Website by ScriptWorks Web Dev</a>
  </div>
</footer>
<script type="text/javascript" src="/js/index.js">

</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/62da90fc54f06e12d88acdc9/1g8iscmvf';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
