<header>
  <img src="/images/search.svg" alt="search main street auto" class="search-mobile">
  <a href="/" class="logo">
    <img src="/images/logo.webp" alt="Main Street Automotive logo">
  </a>
  <nav class="menu">
    	<a class="phone" href="tel:8707040162" data-analytics='"Phone-call"'>Call Now: 870-704-0162</a>
    <ul>
      <li id="dropdown-dt">Products
        <div class="dropdown-dt" id="dropdown-element-dt">
          <a href="/vehicles-for-sale#vehicle-finder" class="menu-item menu-link">Vehicle Finder</a>
          <hr>
          <a href="/vehicles-for-sale" class="menu-item menu-link">Vehicles For Sale</a>
          <hr>
          <a href="/services" class="menu-item menu-link">Vehicle Services</a>
          <hr>
          <a href="/accessories" class="menu-item menu-link">Vehicle Accessories</a>
        </div></li>

      <li><a href="/financing">Financing</a></li>
      <li><a href="/#reviews">Reviews</a></li>
      <li> <a href="/about" >About Us</a></li>
      <li><a href="/contact">Contact</a></li>
      <li id = "search-dt"></li>

    </ul>
  </nav>
  <div class="hamburger">
    <img src="/images/Icons_Menu.svg" alt="menu">
  </div>
  <div class="mobile-menu">
    <div class="menu-header">
        <img src="/images/search.svg" alt="search kk portable buildings" class="search-mobile">
      <div class="logo">
        <img src="/images/logo.webp" alt="KK portable buildings logo">
      </div>
      <div class="menu-close">
        <img src="/images/Icons_Close.svg" alt="">
      </div>
    </div>
    <div class="menu-items">
      <a class="phone" href="tel:8707040162" data-analytics='"Phone-call"'>Call Now: 870-704-0162</a>
      <p class="menu-item-dd dd-link" id="dropdown">Products</p>
      <div class="dropdown" id="dropdown-element">
        <a href="/vehicles-for-sale#vehicle-finder" class="menu-item">Vehicles Finder</a>
        <a href="/vehicles-for-sale" class="menu-item">Vehicles For Sale</a>
        <a href="/services" class="menu-item">Vehicle Services</a>
        <a href="/accessories" class="menu-item">Vehicle Accessories</a>
      </div>
      <a href="/#reviews" class="menu-item">Reviews</a>
      <a href="/financing" class="menu-item">Financing</a>
      <a href="/about" class="menu-item menu-link">About Us</a>
      <a href="/contact" class="menu-item">Contact Us</a>
    </div>
  </div>
  <div class="mobile-search">
    <div class="search-close" id=search-close>
      <img src="/images/Icons_Close.svg" alt="">
    </div>
    <div id='search'class="search">

    </div>
  </div>

</header>
