<header>
  <img src="/images/search.svg" alt="search kk portable buildings" class="search-mobile">
  <a href="/" class="logo">
    <img src="/images/logo.webp" alt="KK Portable Buildings logo">
  </a>
  <nav class="menu">
    <ul>
      <li id="dropdown-dt">Products
        <div class="dropdown-dt" id="dropdown-element-dt">
          <a href="/buildings" class="menu-item menu-link">Portable Buildings</a>
          <hr>
          <a href="/lawn-furniture" class="menu-item menu-link">Lawn Furniture</a>
          <hr>
          <a href="/playsets" class="menu-item menu-link">Playsets</a>
          <hr>
          <a href="/hunting-blinds" class="menu-item menu-link">Hunting Blinds</a>
          <hr>
          <a href="/inventory" class="menu-item menu-link">Current Inventory</a>
        </div></li>

      <li><a href="/financing">Financing</a></li>
      <li><a href="/#reviews">Reviews</a></li>
      <li id="dropdown-about-dt">About
        <div class="dropdown-about-dt" id="dropdown-about-element-dt">
          <a href="/buildings#features" class="menu-item menu-link">Building Info</a>
          <hr>
          <a href="/about" class="menu-item menu-link">About Us</a>
        </div></li>
      <li><a href="/contact">Contact</a></li>
      <li id = "search-dt"></li>
    </ul>
  </nav>
  <div class="hamburger">
    <img src="/images/Icons_Menu.svg" alt="menu">
  </div>
  <div class="mobile-menu">
    <div class="menu-header">
        <img src="/images/search.svg" alt="search kk portable buildings" class="search-mobile">
      <div class="logo">
        <img src="/images/logo.webp" alt="KK portable buildings logo">
      </div>
      <div class="menu-close">
        <img src="/images/Icons_Close.svg" alt="">
      </div>
    </div>
    <div class="menu-items">
      <p class="menu-item-dd dd-link" id="dropdown">Buildings</p>
      <div class="dropdown" id="dropdown-element">
        <a href="/buildings" class="menu-item">Portable Buildings</a>
        <a href="/lawn-furniture" class="menu-item">Lawn Furniture</a>
        <a href="/playsets" class="menu-item">Playsets</a>
        <a href="/hunting-blinds" class="menu-item">Hunting Blinds</a>
        <a href="/inventory" class="menu-item">Current Inventory</a>
      </div>
      <a href="/#reviews" class="menu-item">Reviews</a>
      <a href="/financing" class="menu-item">Financing</a>
      <p class="menu-item-dd dd-link" id="dropdown-m-about">About</p>
      <div class="dropdown" id="dropdown-el-m-about">
        <a href="/buildings#features" class="menu-item menu-link">Building Info</a>
        <a href="/about" class="menu-item menu-link">About Us</a>
      </div>
      <a href="/contact" class="menu-item">Contact Us</a>
    </div>
  </div>
  <div class="mobile-search">
    <div class="search-close" id=search-close>
      <img src="/images/Icons_Close.svg" alt="">
    </div>
    <div id='search'class="search">

    </div>
  </div>

</header>
