 <div class="reviews-parent">

{{ $reviews := getJSON (printf "https://maps.googleapis.com/maps/api/place/details/json?place_id=ChIJDVOmd77XdogRLMtSYa9Qrc4&fields=review&key=%s" site.Params.google.key )}}
  <div class="reviews-slider disable-scrollbars">
  {{ range $reviews.result.reviews}}

    <div  id="_review8" itemprop="review" itemscope itemtype="http://schema.org/Review" class="review">

      <img src="{{ .profile_photo_url }}" alt="review profile photo"class='rev-profile' loading="lazy">

      <p class="rev-text light regular"> <span itemprop="reviewBody"> {{ .text }} </span> </p>
      <div class="rating">
        <p hidden class='rating-number'> {{ .rating }}</p>

      </div>

      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><h5 class="rev-name"> {{ .author_name }} </h5></span></span>

      <p class="rev-date"> {{ .relative_time_description }} </p>


    </div>
    {{end}}

  </div>
  <img src="/images/rev-arrow.svg" alt="" id="left-arrow">
  <img src="/images/rev-arrow.svg" alt="" id="right-arrow">
  <a href="https://g.page/r/ChIJDVOmd77XdogRLMtSYa9Qrc4/review" target="_blank" class="main--btn">Leave Feedback</a>
</div>
